body {
	padding-top: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  Verdana, Georgia, Times, serif;
}
p, div {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
}

.longtext {
    word-break:break-all;
}

.highlighted { 
	background: yellow 
}

.navbar-inverse {

  .navbar-toggle-always {
    border-color: @navbar-inverse-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-inverse-toggle-hover-bg;
    }
    .icon-bar-always {
      background-color: @navbar-inverse-toggle-icon-bar-bg;
    }
  }
}

.panel-collapse {
	margin-bottom: 0px;
}

.navbar-btn{
	margin-right:10px; 
	margin-left:10px;
}

.navbar-toggle-always{

  .navbar-toggle;

  @media (min-width: 768px){
    display: block!important;
    background-color: transparent;
    border:1px solid #333333;
  }

  .zero-margins;

  .icon-bar-always {
    .icon-bar;
    border:1px solid #fff;
    display: block;
    border-radius: 1px;
  }

  .icon-bar-always + .icon-bar-always {
    margin-top: 4px;
  }
}

.input-group {
	width: 500px;
}

.int-bullet ,
.int-bullet::before
{
    transition: all 200ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.int-bullet {
    height: 15px;
    width: 15px;
    border: 2px solid transparent;
    border-radius: 50%;

    overflow: hidden;
    position: relative;
    margin:0 auto;
    transition: all 100ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

}
.int-bullet::before {
    background-color: skyblue;

    border-radius: 50%;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.int-bullet:hover {
    border: 2px solid skyblue;
}
.int-bullet:hover::before {
    height: 40%;
    width: 40%;
}

.growl-container.growl-fixed.top-left {
  top: 60px;
}

.growl-container.growl-fixed {
  max-width: 200px;
}
